<!DOCTYPE html>
<html>
<head>
  <title>Scrutanize</title>
  <%= stylesheet_link_tag    "scrutanize/application", media: "all" %>
  <%= javascript_include_tag "scrutanize/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
